<div>
  <%= form_for @space do |f| %>
    <strong>Space Title:</strong><br />
    <div>
      <div style="float: left;">
        <h2><%= params[:title].gsub('_', ' ') %></h2>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :slug, value: params[:title].gsub(' ', '_') %>
      </div>

      <div style="float: right;">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
      <div style="clear: both;"></div>
    </div>
    <hr />
    <strong>Description:</strong>
    <%= text_area_tag :description, nil, id: 'editor' %>
  <% end %>
</div>