<!DOCTYPE html>
<html>
  <head>
    <title>Wiki Underground</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav style="border-top: 2px solid #2F8A21;" class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to root_url, class: 'navbar-brand' do %>
        <%= image_tag 'wiki_hive.png', width: 200 %>
      <% end %>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <div class="dropdown">
              <%#= link_to '#', class: 'nav-link dropdown', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false} do %>
                Spaces <span class="sr-only">(current)</span>
              <%# end %>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                <%#= link_to 'General', profile_path_url, class: 'dropdown-item' %>
              </div>
            </div>
          </li>

          <li class="nav-item active">
            <%#= link_to '/', class: 'nav-link' do %>
              People
            <%# end %>
          </li>

          <li class="nav-item active">
            <%#= link_to '/', class: 'nav-link' do %>
              Create
            <%# end %>
          </li>

          <li class="nav-item active">
            <%#= link_to '/', class: 'nav-link' do %>
              Help
            < end %>
          </li>
        </ul> -->
        <form class="form-inline my-2 my-lg-0" style="margin: 0 auto;">
          <%= text_field_tag :site_search, '', autocomplete: false, class: 'form-control mr-sm-2 typeahead-search', style: 'width: 700px; background-color: #4D431A; color: white;', placeholder: 'How may I help you?' %>
          <div id='hive-loader' class='hive-loader'>
            <div id='a'>
              <%= image_tag 'hex-green.png' %>
            </div>
            <div id='b'>
              <%= image_tag 'hex-green.png' %>
            </div>
            <div id='c'>
              <%= image_tag 'hex-green.png' %>
            </div>
            <div id='d'>
              <%= image_tag 'hex-green.png' %>
            </div>
            <div id='e'>
              <%= image_tag 'hex-yellow.png' %>
            </div>
            <div id='f'>
              <%= image_tag 'hex-green.png' %>
            </div>
            <div id='g'>
              <%= image_tag 'hex-green.png' %>
            </div>
          </div>
        </form>
      </div>
      <div class='nav-item'>
        <div class="dropdown">
          <%= link_to '#', class: 'profile-dropdown', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false} do %>
            <%= image_tag current_user.avatar.url, width: 37, style: 'border: 1px solid #F2C718; padding: 2px;' %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to 'My Profile', '/profile', class: 'dropdown-item' %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </div>
      </div>
    </nav>

    <div style="background: white; height: 100vh; padding: 20px;">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="create_space" tabindex="-1" role="dialog" aria-labelledby="Create Space" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create a new space</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'spaces/new' %>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="create_page" tabindex="-1" role="dialog" aria-labelledby="Create Space" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create a new page</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
